# Comprehension
* 한 줄 for문
    * list comprehension
    * set comprehension
    * dictionary comprehension

* 반복문

In [23]:
num_list = [1, 2, 3, 4, 5]

In [24]:
res = []
for x in num_list:
    res.append(x**2)

In [25]:
res

[1, 4, 9, 16, 25]

#### **list comprehension**

In [72]:
[ x**2 for x in num_list ]

[1, 4, 9, 16, 25]

#### **set comprehension**

In [73]:
{ x**3 for x in num_list }

{1, 8, 27, 64, 125}

#### **dictionary comprehension**

In [29]:
country = ['Korea', 'Japan', 'USA', 'UK', 'France']
capital = ['Seoul', 'Tokyo', 'Washington DC', 'London', 'Paris']

In [74]:
{ x: y for x, y in zip(country, capital) }

{'Korea': 'Seoul',
 'Japan': 'Tokyo',
 'USA': 'Washington DC',
 'UK': 'London',
 'France': 'Paris'}

---

#### 조건문 포함 Comprehension

* if문 : 오른쪽에 작성
    * 5보다 큰 수만 제곱

In [32]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
[ x**2 for x in num if x > 5 ]

[36, 49, 64, 81]

* if ~ else : 왼쪽에 작성
    * x > 5 : 제곱
    * x =< 5 : 곱하기 2

In [69]:
[ x**2  if x > 5 else x*2 for x in num ]

[2, 4, 6, 8, 10, 36, 49, 64, 81]

* if ~ elif ~ else : 왼쪽에 작성
    * x > 7 : 제곱  (x**2 if x > 7)
    * x > 4 : 세제곱 (else x**3 if x > 4)
    * else : 그대로 (else x)

In [70]:
[ x**2 if x > 6  else x**3 if x > 3 else x for x in num ]

[1, 2, 3, 64, 125, 216, 49, 64, 81]

---

#### 이중 for문

In [75]:
[ (x, y) for x in range(2) for y in range(3) ]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [79]:
[ (x, y) for x in range(2) for y in range(3) if y == 2 or y == 1]

[(0, 1), (0, 2), (1, 1), (1, 2)]

In [81]:
[ (x, y) for x in range(2) if x == 1 for y in range(3) if y == 2 or y == 1]

[(1, 1), (1, 2)]

In [91]:
[ (x, y) if x == 0 else (x+10, y) if x == 1 else (x+20, y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (11, 0), (11, 1), (11, 2), (22, 0), (22, 1), (22, 2)]