# 리스트 (List)

#### 리스트 기본 다루기

In [7]:
# 리스트 생성
a = [0, 1, 2, 3, 4, 5]

# 타입 확인
print('타입 : {}'.format(a))

타입 : [0, 1, 2, 3, 4, 5]

In [8]:
# 리스트 더하기 (연속)

list_con1 = [1, 2, 3, 4, 5]
list_con2 = [6, 7, 8, 9, 10]

list_plus = list_con1 + list_con2
print(list_plus)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# 리스트 곱하기 (반복)

list_mul = list_con1*2
print(list_mul)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [33]:
# 리스트 일부 항목 추출

list = [1, 2, 3, 4, 5, 6]

# 전체
print('전체 : \n{}\n'.format(list[:]))

# 일부 (2 번째 원소)
print('2 번째 원소 : \n{}\n'.format(list[1]))

# 연속 (2번째 ~ 4번째 원소)
print('2 ~ 4 번째 원소 : \n{}\n'.format(list[1:4]))

# 마지막 원소
print('마지막 원소 : \n{}\n'.format(list[-1]))
# print(list[5])

전체 :
[1, 2, 3, 4, 5, 6]

2 번째 원소 :
2

2 ~ 4 번째 원소 :
[2, 3, 4]

마지막 원소 :
6

6

In [27]:
# 리스트 항목 삭제

print(list)
del list[3]
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [36]:
# 리스트에서 항목 존재 여부 확인

print(list)
print(1 in list)
print(7 in list)

[1, 2, 3, 4, 5, 6]
True
False

#### 리스트 메서드 다루기
* append() : 리스트 맨 마지막에 항목 하나 추가
* insert() : 리스트에서 특정 위치에 항목 삽입
* extend() : 리스트에서 항목 여러개를 맨 마지막에 추가
* remove() : 입력값과 첫 번째로 일치하는 항목을 리스트에서 제거
* pop()    : 리스트의 마지막 항목을 제거 후, 반환
* index()  : 리스트에서 인자와 일치하는 첫 번째 항목의 위치를 반환
* count()  : 리스트에서 인자와 일치하는 항목의 개수를 반환
* reverse() : 리스트 항목을 역순으로 정렬
* sort()   : 숫자나 문자열로 구성된 리스트 항목을 오름차순으로 정렬

In [63]:
list = [1, 2, 3, 4, 5]

In [64]:
# append()
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

In [65]:
# insert()
list.insert(2, 7)
print(list)

[1, 2, 7, 3, 4, 5, 6]

In [66]:
# extend()
list_ex = [7, 8, 9, 10]
list.extend(list_ex)
print(list)

[1, 2, 7, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
# remove()
list.remove(7)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
# pop()
print(list.pop())
print(list)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
# index()
list_str = ['Lim', 'Lee', 'Jeong', 'Kim', 'Lim', 'Park', 'Lee', 'Lee']
print(list_str)
print(list_str.index('Lee'))

['Lim', 'Lee', 'Jeong', 'Kim', 'Lim', 'Park', 'Lee', 'Lee']
1

In [76]:
# count()
print(list_str.count('Lee'))

3

In [77]:
# reverse()
list_str.reverse()
print(list_str)

['Lee', 'Lee', 'Park', 'Lim', 'Kim', 'Jeong', 'Lee', 'Lim']

In [79]:
# sort()
list_str.sort()
print(list_str)

['Jeong', 'Kim', 'Lee', 'Lee', 'Lee', 'Lim', 'Lim', 'Park']