### Label Encoding

In [51]:
import pandas as pd
import numpy as np

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
pokemons = ['피카츄', '이상해씨', '파이리', '꼬부기', '피죤', '피카츄', '파이리']

In [54]:
encoder = LabelEncoder()
encoder.fit(pokemons)
labels = encoder.transform(pokemons)

In [55]:
print(labels)

[4 1 2 0 3 4 2]

In [56]:
print(encoder.classes_)
print(encoder.inverse_transform([0,1,2,3,4]))

['꼬부기' '이상해씨' '파이리' '피죤' '피카츄']
['꼬부기' '이상해씨' '파이리' '피죤' '피카츄']

---

### One-Hot Encoding

In [57]:
from sklearn.preprocessing import OneHotEncoder

In [58]:
pokemons_reshape = np.array(pokemons).reshape(-1,1)
oh = OneHotEncoder()
oh_labels = oh.fit_transform(pokemons_reshape)

In [59]:
pokemons_reshape

array([['피카츄'],
       ['이상해씨'],
       ['파이리'],
       ['꼬부기'],
       ['피죤'],
       ['피카츄'],
       ['파이리']], dtype='<U4')

In [60]:
oh_labels.toarray()

array([[0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.]])

In [62]:
oh.categories_

[array(['꼬부기', '이상해씨', '파이리', '피죤', '피카츄'], dtype='<U4')]

In [63]:
df = pd.DataFrame({'pokemon' : pokemons})

In [65]:
pd.get_dummies(df)

   pokemon_꼬부기  pokemon_이상해씨  pokemon_파이리  pokemon_피죤  pokemon_피카츄
0            0             0            0           0            1
1            0             1            0           0            0
2            0             0            1           0            0
3            1             0            0           0            0
4            0             0            0           1            0
5            0             0            0           0            1
6            0             0            1           0            0